DialogueNode #title {
    background-color: darkslateblue;
}

EntryPointNode #title {
    background-color: #b58242;
}

NoChoiceNode #title {
    background-color: darkslategrey;
}

MultiChoiceNode #title {
    background-color: darkslateblue;
}

MultiChoiceNode .choice-button {
    font-size: 15px;
    width: 30px;
}

MultiChoiceNode .delete-choice-button {
    font-size: 12px;
    width: 18px;
}