DialogueNode #title {
    background-color: darkslateblue;
}

EntryPointNode #title {
    background-color: #b58242;
}

NoChoiceNode #title {
    background-color: darkslategrey;
}

MultiChoiceNode #title {
    background-color: darkslateblue;
}